/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


ul{
  list-style:none;
}

.description-text{
  color:#a69d92;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

#myCarousel{
  position: relative;
  top: -70px;
  z-index: 0;
}

.slider_text{
  position: relative;
}

.carousel-control.left{
	margin-top: 49px;
}

.carousel-control.right{
	margin-top: 49px;
}

.carousel-control{
  height:500px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 160px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  font-family: 'Open sans';
}

.white{
  width: 100%;
  max-width: 300px;
  position: relative;
  top: 50px;
}

.carousel .item {
  height: 453px;
  background-color: #777;
  background-size: cover;
  background-position: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 451px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 380px;
}

.carousel-indicators {
  bottom: 40px;
  z-index: 9;
}

.carousel-control.left{
	background-image: none !important;
}

.carousel-control.right{
	background-image: none !important;
}



/* Slides
------------------------- */


.slider-caption{
  position: relative;
  top: -20px;
  left: 16px;
}

.slider-download-button{
  font-size: 12px;
  background: #95b060;
  border: 1px solid #95b060;
  width: 109px;
  padding: 12px;
  position: relative;
  left: 16px;
  top: -10px;
  color:white
}

.slider-download-button:hover{
  border: 1px solid lightgray;
  background: none;
}
.item1 {
  background-image: url(../images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item2 {
  background-image: url(../images/header2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item3 {
  background-image: url(../images/header3.png);
  background-size: cover;
  background-repeat: no-repeat;r
  background-position: center;
}

.slider_text{
  position: relative;
  font-family: 'museo-sans' !Important;
  text-align: left;
}
