body{
  font-family: "open-sans",sans-serif;
  background: #f5f4f1 url(../images/bg.png) repeat 0 0;
  color: #5c554b;
}

.container-fluid {
  max-width: 1220px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
.no-padding {
  padding-left:0;
}

.no-padding-right {
  padding-right:0;
}

.lower-container{
  width: 100% !important;
}

.top-title{
  letter-spacing: 1px;
  padding-left: 15px;
}

.bottom-title{
  letter-spacing: 3px;
  padding-left: 15px;
  padding-bottom: 20px;
  font-weight: 300;
}
.caption-text{
  font-weight: 300;
  font-size: 12px;
}

.free-download-button{
  background: url(../images/btn-bg1.png) repeat 0 0,-webkit-linear-gradient(top,#95b060 0,#89a452 100%);
  color: white;
  padding: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.right{
	padding-left: 140px;
}

.navbar-nav {
  margin: 0;
  font-size: 12px;
  position: relative;
  right: -25px;
}

ul{
  position: relative;
  top: -10px;
}

/*  NAV STYLES  */

.navbar-default{
  background: #5c554b url(../images/header-bg.png) repeat-x 0 0;
  border-color: #5c554b;
  border-radius: 0;
  height: 50px;
  z-index: 10;
}

.top-text{
  padding-left: 160px;
}

.form-control{
  background-image: url('../images/search.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: 4px;
  background-position-x: 5px;
  padding-left: 29px;
  padding-top: 7px;
  outline: 0;
}

.form-control:focus{
  outline: 0;
}

.signing-text{
	text-align:right;
	padding-right: 20px;
}

.navbar-form {
	margin-top: 0px;
  position: relative;
  top: -2px;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  height: 26px;
  margin-top:-3px;
  width: 168%;
}

.top-nav{
  background: #4e4a41 url(../images/header-bg.png) repeat-x 0 0;
  height: 40px;
  font-size: 11px;
  color:#aca99f;
}

.navbar-default .navbar-nav > li > a {
  color:whitesmoke;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
  background-image: url(../images/logo.png);
  height: 108px;
  position: relative;
  top: -60px;
  width: 165px;
  z-index: 2;
}

.logo-times{
  width: 93px;
  margin-left: 14%;
  position: relative;
  top: 18px;
}


/*  HERO STYLES  */

#hero{
  background-image: url(../images/preview1.jpg);
  height: 500px;
  background-size: cover;
  position: relative;
  top: -21px;
  background-position: center;
  z-index: -1;
}

/*  FB SIGN UP STYLES  */

#fb-signup{
  background: #363b3f;
  height: 100px;
  position: relative;
  top: -103px;
  text-align: center;
  color: white;
  padding-top: 16px;
  font-weight: 300;
}


/*  POPULAR PRODUCT STYLES  */

#featured-free-things{
  padding-top: 50px;
  margin-bottom: -50px;
  position: relative;
  top: -103px;
}

#featured-things{
  background: #fcfcfb;
  padding-bottom: 50px;
}

#blog-posts{
  padding-top: 50px;
  padding-bottom: 85px;
  position: relative;
}

.featured-square{
	height: 270px;
	background-size: cover;
	background-position: center;
}

.featured1{
	background-image: url('../images/1b.png');
}

.fa:hover{
  color: #89a452;
}

.fa-heart:hover{
  color: #B05858;
}

.featured2{
	background-image: url('../images/2b.png');
}

.featured3{
	background-image: url('../images/3b.png');
}

#featured-things{
  padding-top: 30px;
  padding-bottom: 45px;
}

.tag-size {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  font-size: 55px;
  color: lightgray;
  float: right;
  position: relative;
  right: -20px;
}

.money{
  text-align: right;
  position: relative;
  top: 18px;
  right: -55px;
  color: white;
}

.social-share-links{
  letter-spacing: 10px;
  padding-bottom: 50px;
}

.circle{
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: gray;
}

.tag{
  width: 10px;
  height: 22px;
  background-image: url(../images/icon.png);
  background-size: 415px 413px;
  background-position: -329px -25px;
}

/* BLOG STYLES */

.post-tag{
  font-weight: bold;
  padding-top: 18px;
  font-size: 12px;
}

.post-title{
  font-weight: 300;
  font-size: 20px;
}

.post-link{
  color: #95b060;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 50px;
}

/* SHOP AREA STYLES */
#earn-with-us{
  background: #fcfcfb;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar > .container-fluid .navbar-brand {
    background-image: none;
    top: -11px;
    z-index: -1;
  }

  .navbar-collapse{
    background: #5c554b url(../images/header-bg.png) repeat-x 0 0;
    position: relative;
	  top: -60px;
	  padding: 0 !important;
	  border-top: 0 !important;
	  -webkit-box-shadow: 0 !important;
	  box-shadow: 0 !important;
  }

  .logo-times{
    width: 93px;
    margin-left: 14%;
    position: relative;
    top: 0px;
  }
	.container-fluid {
	  padding-top: 0px;
	}
	#myCarousel {
		position: relative;
		top: -20px !important;
	}
  .navbar-nav {
    right: 0px;
    padding-top: 30px;
  }

	#fb-signup {
		background: #363b3f;
		height: 100px;
		position: relative;
		top: -20px;
	}
	.navbar-form .form-control {
		height: 40px;
		width: 100%;
	}
  .navbar-form {
    width: 100%;
    margin-left: 0px;
  }
  .navbar-nav {
    right:0px;
    background: #4e4a41 url(../images/bg.png) repeat-x 0 0;
    font-size: 20px;
    position:relative;
    top: -25px;
  }
  #featured-free-things {
    top: -20px;
  }
  #featured-things {
    position: relative;
    top: 45px;
  }
  .navbar-default {
    position: fixed;
    width: 100%;
  }
  .slider_text {
    position: relative;
    top: 50px;
  }
  #fb-signup {
    height: 125px;
  }
  .container-fluid {
    padding-top: 0px;
    width: 86%;
    display: block;
    margin: 0 auto;
  }

  .mobile-nav{
    width: 101%;
    position: relative;
    left: -1px;
  }
  .form-control {
    background-position-y: 10px;
  }
  .nav > li {
    position: relative;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid;
  }

}
