body{
  font-family: "open-sans",sans-serif !important;
  background: #f5f4f1 url(../images/bg.png) repeat 0 0;
  color: #5c554b;
}

.navbar-default .navbar-nav > li > a:hover{
  color:#aca99f;
}

.bold{
  font-weight: 300;
  font-size:17px;
  color: #5c554b;
}

.twelve{
  font-weight: 12px !important;
}

.container-fluid {
  max-width: 1220px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
.no-padding {
  padding-left:0;
}
.light-gray{
  color:lightgray;
}
.no-padding-right {
  padding-right:0;
}

.white-bg {
  background: #fcffcb;
  }

.top-title{
  letter-spacing: 1px;
  padding-left: 15px;
  font-family: 'Open-sans';
}

.bottom-title{
  letter-spacing: 3px;
  padding-left: 15px;
  padding-bottom: 20px;
  font-weight: 300;
}

.code-class{
  position: relative;
  left: 15px;
  top: -17px;
}

.caption-text{
  font-weight: 300;
  font-size: 12px;
}

.free-download-button{
  background: url(../images/btn-bg1.png) repeat 0 0,-webkit-linear-gradient(top,#95b060 0,#89a452 100%);
  color: white;
  padding: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  border:1px solid #95b060;
}

.free-download-button:hover{
  background: none;
  color:#95b060;
  padding: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.right{
	padding-left: 140px;
}

.navbar-nav {
  margin: 0;
  font-size: 12px;
  position: relative;
  right: -25px;
}

.green-bg{
  background: #95b060;
  margin-top: -5px;
  color:whitesmoke !important;
}

.green-bg a:hover{
  background: #95b060;
  color:whitesmoke !important;
}

ul{
  position: relative;
  top: -10px;
}

/*  NAV STYLES  */

.navbar-default{
  background: #5c554b url(../images/header-bg.png) repeat-x 0 0;
  border-color: #5c554b;
  border-radius: 0;
  height: 50px;
  z-index: 10;
}

.top-text{
  padding-left: 160px;
}

.form-control{
  background-image: url('../images/search.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-y: 4px;
  background-position-x: 5px;
  padding-left: 29px;
  padding-top: 7px;
  outline: 0;
}

.form-control:focus{
  outline: 0;
}

.signing-text{
	text-align:right;
	padding-right: 20px;
}

.navbar-form {
	margin-top: 0px;
  position: relative;
  top: -2px;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  height: 26px;
  margin-top:-3px;
  width: 168%;
}

.top-nav{
  background: #4e4a41 url(../images/header-bg.png) repeat-x 0 0;
  height: 40px;
  font-size: 11px;
  color:#aca99f;
}

.navbar-default .navbar-nav > li > a {
  color:whitesmoke;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
  background-image: url(../images/logo.png);
  height: 108px;
  position: relative;
  top: -60px;
  width: 165px;
  z-index: 2;
}

.logo-times{
  width: 93px;
  margin-left: 14%;
  position: relative;
  top: 18px;
}


/*  HERO STYLES  */

#hero{
  background-image: url(../images/preview1.jpg);
  height: 500px;
  background-size: cover;
  position: relative;
  top: -21px;
  background-position: center;
  z-index: -1;
}

/*  FB SIGN UP STYLES  */

#fb-signup{
  background: #363b3f;
  height: 100px;
  position: relative;
  top: -103px;
  text-align: center;
  color: white;
  padding-top: 16px;
  font-weight: 300;
}

.social-sign-up{
  font-size: 15px;
  letter-spacing: 1px;
}


/*  POPULAR PRODUCT STYLES  */

#featured-free-things{
  padding-top: 50px;
  margin-bottom: -50px;
  position: relative;
  top: -103px;
}

#featured-things{
  background: #fcfcfb;
  padding-bottom: 50px;
}

#blog-posts{
  padding-top: 50px;
  padding-bottom: 85px;
  position: relative;
  background: none;
}

.featured-square{
	height: 270px;
	background-size: cover;
	background-position: center;
}

.featured1{
	background-image: url('../images/1b.png');
}

.fa:hover{
  color: #89a452;
}

.fa-heart:hover{
  color: #B05858;
}

.featured2{
	background-image: url('../images/2b.png');
}

.featured3{
	background-image: url('../images/3b.png');
}

#featured-things{
  padding-top: 30px;
  padding-bottom: 45px;
}

.tag-size {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  font-size: 55px;
  color: lightgray;
  position: relative;
  top: -5px;
  float: right;
  left: 20px;
}

.money{
  text-align: right;
  position: relative;
  top: 14px;
  left: 49px;
  letter-spacing: 1px;
  color: white;
  width: 18px;
  float: right;
}

.social-share-links{
  letter-spacing: 10px;
  padding-bottom: 50px;
}

.circle{
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: gray;
}

.tag{
  width: 10px;
  height: 22px;
  background-image: url(../images/icon.png);
  background-size: 415px 413px;
  background-position: -329px -25px;
}

/* BLOG STYLES */

.post-tag{
  font-weight: bold;
  padding-top: 18px;
  font-size: 12px;
}

.post-title{
  font-weight: 300;
  font-size: 20px;
}

.post-link{
  color: #95b060;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 50px;
}

.post-link:hover{
  color: #363b3f;
}

/* SHOP AREA STYLES */
#earn-with-us{
  background: #fcfcfb;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.shop-title{
  font-size: 21px;
  padding-top: 12px;
}

.open-shop-btn{
  background: #95b060;
  border: 1px solid #95b060;
  padding: 10px;
  color: white;
  width: 129px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.open-shop-btn:hover{
  background: none;
  color: #95b060;
  border: 1px solid #95b060;
}

.earn-cash-btn{
  background: #548eb2;
  border: 1px solid #548eb2;
  padding: 10px;
  color: white;
  width: 159px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.earn-cash-btn:hover{
  background: none;
  color: #548eb2;
  border: 1px solid #548eb2;
}


.right-border{
  border-right: 1px solid lightgray;
}
.graph-thing{
  background-image: url(../images/icon.png);
  background-size: 415px 413px;
  background-position: -138px -105px;
  width: 60px;
  height: 60px;
  display:block;
  margin: 0 auto;
}

.shop-thing{
  background-image: url(../images/icon.png);
  background-size: 415px 413px;
  background-position: -164px -193px;
  width: 60px;
  height: 52px;
  display:block;
  margin: 0 auto;
}


#statistics{
  text-align: center;
  font-size: 30px;
  background: #95b060;
  color:white;
  padding-top: 50px;
  padding-bottom: 40px;
}


#footer{
  background: rgba(44,37,8,.17);
  margin-bottom: -86px;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
  color:#a69d92;
}

.center-footer{
  width: 93px;
  display: block;
  margin: 0 auto;
  padding-bottom:35px;
}

.legal{
  text-align: center;
  font-size: 12px;
  padding-top: 50px;
  color:#5c554b;
}

.social-footer{
  font-size: 20px;
  letter-spacing: 8px;
  width: 135px;
  margin: 0 auto;
  color:#5c554b;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar > .container-fluid .navbar-brand {
    background-image: none;
    top: -11px;
    z-index: -1;
  }

  .navbar-collapse{
    background: #5c554b url(../images/header-bg.png) repeat-x 0 0;
    position: relative;
	  top: -60px;
	  padding: 0 !important;
	  border-top: 0 !important;
	  -webkit-box-shadow: 0 !important;
	  box-shadow: 0 !important;
  }

  .logo-times{
    width: 93px;
    margin-left: 14%;
    position: relative;
    top: 0px;
  }
	.container-fluid {
	  padding-top: 0px;
	}
	#myCarousel {
		position: relative;
		top: -20px !important;
	}
  .navbar-nav {
    right: 0px;
    padding-top: 30px;
  }

	#fb-signup {
		background: #363b3f;
		height: 100px;
		position: relative;
		top: -20px;
	}
	.navbar-form .form-control {
		height: 40px;
		width: 100%;
	}
  .navbar-form {
    width: 100%;
    margin-left: 0px;
  }
  .navbar-nav {
    right:0px;
    background: #4e4a41 url(../images/bg.png) repeat-x 0 0;
    position:relative;
    top: -25px;
  }
  #featured-free-things {
    top: -20px;
  }
  #featured-things {
    position: relative;
    top: 45px;
  }
  .navbar-default {
    position: fixed;
    width: 100%;
  }
  .slider_text {
    position: relative;
    top: 50px;
  }
  #fb-signup {
    height: 125px;
  }

  .mobile-nav{
    width: 101%;
    position: relative;
    left: -1px;
  }
  .form-control {
    background-position-y: 10px;
  }
  .nav > li {
    position: relative;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  }

  .tag-size {
    left: 3px;
  }

  .money{
    left: 33px;
  }

  .top-title{
    padding-left: 0px;
  }

  .bottom-title{
    padding-left: 0px;
  }

  .slider-caption {
    left: 0px !important;
  }

  .code-class {
    position: relative;
    left: 0px;
    top: -17px;
  }

  .slider-download-button {
    left: 0px !important;
  }

  .slider_text{
    top: 90px;
    left: -40px;
  }

  .carousel-indicators {
    bottom: 0px !important;
    z-index: 9;
  }
  .right-border{
    border-right: 0px ;
  }
  .bold {
    font-weight: bold !important;
    font-size: 15px;
    text-align: center;
  }


}
